{% extends "base.html" %} {% block title %}S.O.S{% endblock %} {% block
  content %}
   
  <div class="form">

   <div class="board" data-board>
   <div class="cell" data-cell></div>
   <div class="cell" data-cell></div>
   <div class="cell" data-cell></div>
   <div class="cell" data-cell></div>
   <div class="cell" data-cell></div>
   <div class="cell" data-cell></div>
   <div class="cell" data-cell></div>
   <div class="cell" data-cell></div>
   <div class="cell" data-cell></div>
   </div>

      <div class="winning-message" data-winning-message>
      <p class="winning-message-text" data-winning-message-text> venceu</p>
      <button class="winning-message-button" data-winning-message-button>reiniciar</button>
      </div>

    <br> <br> <br> <br> <br> <br> <br> <br>
    
      <button onclick="window.location.href ='./jogos.html'"> voltar </button>

  </div>

   <br>
   <br>

  <script src="../javascript/jogo_da_veia.js"></script>

{% endblock %}