{% extends "base.html" %} {% block title %}Jogos{% endblock %} {% block
  content %}

<style>
 

</style>

    <a href="./Jogo_da_veia.html">
      <img src="../image/jogo_da_veia.png">
    </a>
 
    <br><br><br>
       <a href="./jogo_da_cobra.html"> 
         <img src="../image/cobra.jpg">
    </a>
 
    <br><br><br>
    <a href="./jogo_da_memoria.html"> 
     <img src="../image/jogo-da-memoria.jpg">
 </a>
 
    <br><br><br>
    <button onclick="window.location.href ='../cadastro_e_login/templates/base.html'"> Fazer logout </button>
     <br><br><br>
     <button onclick="window.location.href ='../tela_inicial.html'"> voltar </button>
 
     <br><br><br>
     <div>
       <a href="../SOS.html" >
         <img src="../image/sos.png" >
       </a> 
     </div>
     
 </div>
 {% endblock %}
