{% extends "base.html" %} {% block title %}Jogo da memória{% endblock %} {% block
  content %}  
  
 <style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&amp;display=swap')
  
 </style>

  <div class="wrapper">
    <ul class="cards">
      <li class="card">
        <div class="view front-view">
          <span class="material-icons">question_mark</span>
        </div>
        <div class="view back view">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0PENP2Kpy2ZV3tbN7ACEgkrjmd22uUzN29A&usqp=CAU" alt="imagem da carta">
        </div>
      </li> 
      <li class="card">
        <div class="view front-view">
          <span class="material-icons">question_mark</span>
        </div>
        <div class="view back view">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0PENP2Kpy2ZV3tbN7ACEgkrjmd22uUzN29A&usqp=CAU" alt="imagem da carta">
        </div>
      </li> 
      <li class="card">
        <div class="view front-view">
          <span class="material-icons">question_mark</span>
        </div>
        <div class="view back view">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0PENP2Kpy2ZV3tbN7ACEgkrjmd22uUzN29A&usqp=CAU" alt="imagem da carta">
        </div>
      </li> 
      <li class="card">
        <div class="view front-view">
          <span class="material-icons">question_mark</span>
        </div>
        <div class="view back view">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0PENP2Kpy2ZV3tbN7ACEgkrjmd22uUzN29A&usqp=CAU" alt="imagem da carta">
        </div>
      </li> 
      <li class="card">
        <div class="view front-view">
          <span class="material-icons">question_mark</span>
        </div>
        <div class="view back view">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0PENP2Kpy2ZV3tbN7ACEgkrjmd22uUzN29A&usqp=CAU" alt="imagem da carta">
        </div>
      </li>
       <li class="card">
        <div class="view front-view">
          <span class="material-icons">question_mark</span>
        </div>
        <div class="view back view">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0PENP2Kpy2ZV3tbN7ACEgkrjmd22uUzN29A&usqp=CAU" alt="imagem da carta">
        </div>
      </li> 
      <li class="card">
        <div class="view front-view">
          <span class="material-icons">question_mark</span>
        </div>
        <div class="view back view">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0PENP2Kpy2ZV3tbN7ACEgkrjmd22uUzN29A&usqp=CAU" alt="imagem da carta">
        </div>
      </li>
      <li class="card">
        <div class="view front-view">
          <span class="material-icons">question_mark</span>
        </div>
        <div class="view back view">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0PENP2Kpy2ZV3tbN7ACEgkrjmd22uUzN29A&usqp=CAU" alt="imagem da carta">
        </div>
      </li>
    </ul>
  </div>
   
   <div class="turta">
    <button><a id="jogos" href="/jogos" > Voltar </a></button> 
    </div>


   </div>

  <script> 
    
  </script>

{% endblock %}