{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
    %}

    <style>

        *{
           margin: 0;
           padding: 0;
           box-sizing: border-box;
           font-family: "Poppins", sans-serif;
         }
       
        body{
              background-color:#d1ffea;
         }
           
        @-webkit-keyframes AnimationName {
               0%{background-position:0% 50%}
               50%{background-position:100% 50%}
               100%{background-position:0% 50%}
           }
        @-moz-keyframes AnimationName {
               0%{background-position:0% 50%}
               50%{background-position:100% 50%}
               100%{background-position:0% 50%}
           }
        @keyframes AnimationName {
               0%{background-position:0% 50%}
               50%{background-position:100% 50%}
               100%{background-position:0% 50%}
           }
           
         .form{
         padding-top:100px;
           left:50%;
           top:50%;
           border-radius:10px ;
           padding:60px;
           width:min-content;
           display: inline-grid;
           background-color:#00eeffff;
               justify-content: space-around;
               justify-items: center;
               margin-top: 10vw;
         }


         .buttona{
           font-size: 3.44vmin;
           font-family:'Poppings',sans-serif;
           background:linear-gradient(90deg,#0062ff,#0062ff,#0062ff) ;
           height: 8vmin;
           width: 65vmin;
           border:none;
           color:rgb(255, 255, 255);
           border-radius:20px;
           outline:none;
           cursor:pointer;
           margin: 5mm;
         }
       
        hr {
         display: none;
         }
       
         .containeer{
           max-width: 600px;
           padding:2em 1.5em;
           background-color: #ced6ff;
           margin: 1em auto;
           border-radius: 0.5em;
         }
         h4{
           font-size: 1.5em;
           margin: auto;
         }
       
         .secao-input{
           margin: 0.5em 0;
           transform: translate(-0%,-0%);
           top: 50%;
           left: 50%;
         }
       
         label, .menssagem-Error{
           display: block;
           font-size: 1em;
         }
         
         label{
           margin-bottom: 0.5em;
           font-weight: 500;
         }
       
         .menssagem-Error{
           margin-top: 0.2em;
         }
         input{
           display: block;
           outline: none;
           width: 100%;
           padding: 0.5em;
           border-radius: 0.3em;
         }
       
         input{
           padding: 1em 0.5em;
           border: 1.5px solid white;
         }
         .required-color{
           color: #ff4747;
         }
       
         .Error{
           border-color: #ff4747;
         }
         .valid{
           border-color: #37a137;
         }
       
         .esconda{
           display: none;
         }
       
        #olhos{
         position: absolute;
         right: 15px;
         transform: translate(0%, -140%);
         /* top: 70%; */
         cursor: pointer;
       }
       
        ::placeholder{
         color: #9a9a9a;
         font-weight: 400;
       }
       
        .fa{
         font-size: 20px;
         color: #7a797e;
       }
         @media only screen and (max-width: 450px) {
           .containeer{
             font-size: 14px;
           }
         }
       
       </style>

  <center>
  <div class="containeer">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="../estilos/estilo_telas_login_cadastro.css" rel="stylesheet" type="text/css" />
</head>


       <form method="POST">
  
    <br /><br />

    <h1>Login</h1>

    <br> <br>

    <div class="secao-input">
      <label>Nome do idoso <span class="required-color">*</span></label>
     <input type="text" placeholder="Digite o nome do idoso aqui " id="login-idoso" required>
    <span id="vazio-nome-idoso-login" class="esconda required-color menssagem-Error" >Nome do idoso não pode estar vazio</span>
    </div>

       <br> <br>

       <div class="secao-input">
        <label> senha <span class="required-color">*</span></label>
        <input type="password" placeholder="Digite a senha aqui" id="senha2" required>
        <span id="olhos" onclick="mudar3()"><i class="fa fa-eye" aria-hidden="true" id="olho3"></i></span>
        <span id="senha-vazia" class="esconda required-color menssagem-Error">A senha não pode estar vazia</span>
      </div>

  <br><br> 

  <button id="botao-logar" type="submit" class="buttona"> logar </button>
 
</form>


  <script>
    //variável para ocultar e mostra senha

    var state = false
    
    //Função para mostrar a senha ao apertar no olho e parar de mostrar se apertar de novo
    
     function mudar3(){
        if(state){
            document.getElementById("senha2").setAttribute("type","password")
            state = false
        } else {
            document.getElementById("senha2").setAttribute("type", "text")
            state = true
        }
     }
    </script>
</center>
{% endblock %}

