{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
  content %}
  <style>

    *{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       font-family: "Poppins", sans-serif;
     }
   
    body{
          background-color:#d1ffea;
     }
       
    @-webkit-keyframes AnimationName {
           0%{background-position:0% 50%}
           50%{background-position:100% 50%}
           100%{background-position:0% 50%}
       }
    @-moz-keyframes AnimationName {
           0%{background-position:0% 50%}
           50%{background-position:100% 50%}
           100%{background-position:0% 50%}
       }
    @keyframes AnimationName {
           0%{background-position:0% 50%}
           50%{background-position:100% 50%}
           100%{background-position:0% 50%}
       }
       
     .form{
     padding-top:100px;
       left:50%;
       top:50%;
       border-radius:10px ;
       padding:60px;
       width:min-content;
       display: inline-grid;
       background-color:#00eeffff;
           justify-content: space-around;
           justify-items: center;
           margin-top: 10vw;
     }
     .logo {
       background-color: #00b3b0;
       height: auto;
       padding: 2vw;
       position: relative;
       display: flex;
       justify-content: space-around;
       align-items: center;
       align-content: center;
       flex-wrap: nowrap;
       font-size: 2.4vmin;
       flex-direction: row-reverse;
     } 
     .alert-danger {
       color: #721c24;
       background-color: #f8d7da;
       border-color: #f5c6cb;
       display: flex;
   }
     button{
       font-size: 3.44vmin;
       font-family:'Poppings',sans-serif;
       background:linear-gradient(90deg,#0062ff,#0062ff,#0062ff) ;
       height: 8vmin;
       width: 65vmin;
       border:none;
       color:rgb(255, 255, 255);
       border-radius:20px;
       outline:none;
       cursor:pointer;
       margin: 5mm;
     }
   
    hr {
     display: none;
     }
   
     .container{
       width: 90vw;
       max-width: 600px;
       padding:2em 1.5em;
       background-color: #ced6ff;
       margin: 1em auto;
       border-radius: 0.5em;
     }
     h4{
       font-size: 1.5em;
       margin: auto;
     }
   
     .secao-input{
       margin: 0.5em 0;
       transform: translate(-0%,-0%);
       top: 50%;
       left: 50%;
     }
   
     label, .menssagem-Error{
       display: block;
       font-size: 1em;
     }
     
     label{
       margin-bottom: 0.5em;
       font-weight: 500;
     }
   
     .menssagem-Error{
       margin-top: 0.2em;
     }
     input{
       display: block;
       outline: none;
       width: 100%;
       padding: 0.5em;
       border-radius: 0.3em;
     }
   
     input{
       padding: 1em 0.5em;
       border: 1.5px solid white;
     }
     .required-color{
       color: #ff4747;
     }
   
     .Error{
       border-color: #ff4747;
     }
     .valid{
       border-color: #37a137;
     }
   
     .esconda{
       display: none;
     }
   
    #olhos{
     position: absolute;
     right: 15px;
     transform: translate(0%, -140%);
     /* top: 70%; */
     cursor: pointer;
   }
   
    ::placeholder{
     color: #9a9a9a;
     font-weight: 400;
   }
   
    .fa{
     font-size: 20px;
     color: #7a797e;
   }
     @media only screen and (max-width: 450px) {
       .container{
         font-size: 14px;
       }
     }
   
   </style>

              <h4>Cadastro Tutor</h4>
             <form method="POST">

      
              <br />
      
              <div class="secao-input">
                <label for="input-nome-tutor">Nome do tutor <span class="required-color">*</span></label> 
                <input type="text" placeholder="Digite o nome do tutor aqui" id="input-nome-tutor" name="input-nome-tutor">
                <span id="Error-nome-tutor" class="esconda required-color menssagem-Error">Valor inválido</span>
                <span id="vazio-nome-tutor" class="esconda required-color menssagem-Error">O nome do tutor não pode estar vazio</span>
                </div>
      
            <br><br>
      
         <div class="secao-input">
          <label for="nome-idoso">Nome do idoso <span class="required-color" >*</span></label>
          <input type="text" placeholder="Coloque o nome do idoso" id="nome-idoso" name="nome-idoso">
          <span id="Error-nome-idoso" class="esconda required-color menssagem-Error" >Dados invalidos</span>
          <span id="vazio-nome-idoso" class="esconda required-color menssagem-Error" >Nome do idoso não pode estar vazio</span>
        </div>
      
            <br> <br>
      
      <div class="secao-input">
        <label for="Email">Email <span class="required-color">*</span></label>
        <input type="email" placeholder="Digite o seu e-mail aqui" id="Email" name="Email">
        <span id="Error-email" class="esconda required-color menssagem-Error">Email invalido</span>
        <span id="Email-vazio" class="esconda required-color menssagem-Error">O email não pode ser vazio</span>
      </div>
      
            <br><br>
      
            <div class="secao-input">
              <label for="telefone">Número de telefone do Tutor <span class="required-color">*</span></label>
             <input type="text" placeholder="Digite o número do tutor aqui " id="telefone" name="telefone">
             <span id="Error-telefone" class="esconda required-color menssagem-Error">O número de telefone deve ter 11 digitos</span>
             <span id="telefone-vazio" class="esconda required-color menssagem-Error">O telefone não pode estar vazio</span>
            </div>
      
            <br><br>
              
            <div class="secao-input">
              <label for="senha"> senha <span class="required-color">*</span></label>
              <input type="password" placeholder="Digite a senha aqui" id="senha" name="senha"> 
              <span id="olhos"><i class="fa fa-eye" aria-hidden="true" id="olho1" onclick="mudar1()"></i></span>
              <span id="Error-senha" class="esconda required-color menssagem-Error">A senha deve ter caracteres especiais e no mínimo 5 digitos</span>
              <span id="senha-vazia" class="esconda required-color menssagem-Error">A senha não pode estar vazia</span>
            </div>
      
            <br><br>
      
            <div class="secao-input">
              <label for="verificar-senha">Confirmar senha <span class="required-color">*</span></label>
              <input type="password" placeholder="Confirmar senha" id="verificar-senha" name="verificar-senha">
              <span id="olhos"><i class="fa fa-eye" aria-hidden="true" id="olho2" onclick="mudar2()"></i></span>
              <span id="Error-verificar-senha" class="esconda required-color menssagem-Error">Deve ser igual a senha anterior</span>
              <span id="verificar-senha-vazio" class="esconda required-color menssagem-Error">A senha não pode ser vazia</span>
            </div>
      
            <br><br> 

              <button id="botao-cadastrar btn btn-primary" type="submit"> Cadastrar </button>
      
           </form>
      
         </div>
  <script>
          //variável para ocultar e mostra senha

var state = false

//Nome do tutor

let tutor_nome_input = document.getElementById("input-nome-tutor")
let error_tutor = document.getElementById("Error-nome-tutor")
let vazio_tutor = document.getElementById("vazio-nome-tutor")

//Nome do idoso

let idoso_nome_input = document.getElementById("nome-idoso")
let error_idoso = document.getElementById("Error-nome-idoso")
let vazio_idoso = document.getElementById("vazio-nome-idoso")

//Email

let email_input = document.getElementById("Email")
let error_email = document.getElementById("Error-email")
let vazio_email = document.getElementById("Email-vazio")

//Telefone do tutor

let telefone_input = document.getElementById("telefone")
let error_telefone = document.getElementById("Error-telefone")
let vazio_telefone = document.getElementById("telefone-vazio")

//Senha para o cadastro

let senha_input = document.getElementById("senha")
let error_senha = document.getElementById("Error-senha")
let vazio_senha = document.getElementById("senha-vazia")

//Confirmação da senha

let confimar_senha_input = document.getElementById("verificar-senha")
let error_confirmar_senha = document.getElementById("Error-verificar-senha")
let vazio_confirmar_senha = document.getElementById("verificar-senha-vazio")


//Botão enviar cadastro

let cadastrar_botao = document.getElementById("botao-cadastrar")


//validador 

let classesValidas1 = false
let classesInvalidas1 = true

let classesValidas2 = false
let classesInvalidas2 = true

let classesValidas3 = false
let classesInvalidas3 = true

let classesValidas4 = false
let classesInvalidas4 = true

let classesValidas5 = false
let classesInvalidas5 = true

let classesValidas6 = false
let classesInvalidas6 = true


//verificador de senha

const verificadorSenha = (senha, minLength) => {
  minLength = 5
  // Valores que devem existir na senha, não precisa ser todos  
  const regex = /^(?=.+[a-z])(?=.+[\$\%\^\&\!@\#\*\(\)\+\=`~\?\>\<])/;
  return regex.test(senha) && senha.length >= 5;
};

//verificador de texto (para os inputs que deveriam conter apenas texto)

const verificadorTexto = (text) =>{
    const regex = /^[a-zA-Z]{3,}$/
    return regex.test(text)
} 

//Verificador do telefone

const verificadorTelefone = (number) => {
    const regex = /^[0-9]{11}$/
    return regex.test(number)
}

//Verificador do Email

const verificadorEmail = (input) => {
    const regex = /^[a-z0-9_]+@[a-z]{3,}\.[a-z\.]{3,}$/
    return regex.test(input)
}

//Para os inputs vazios - accepts(input vazio, erro para aquele input e outros erros)

const vazioUpdate = (
    inputReference,
    emptyErrorReference,
    otherErrorReference
    ) => {
        if (!inputReference.value){
            //input está vazio/null
            emptyErrorReference.classList.remove("esconda")
            otherErrorReference.classList.add("esconda")
            inputReference.classList.add("Error")
        } else {
            //input tem algum conteúdo
            emptyErrorReference.classList.add("esconda")
        }
    }

// para o estilo e a aparição da menssagem de erro

const errorUpdate = (inputReference, errorReference) => {
    errorReference.classList.remove("esconda")
    inputReference.classList.remove("valid")
    inputReference.classList.add("Error")
}

// para nenhum erros

const validInput = (inputReference) => {
    inputReference.classList.remove("Error")
    inputReference.classList.add("valid")
}

//nome tutor

tutor_nome_input.addEventListener("input", () =>{
    if (verificadorTexto(tutor_nome_input.value)){
        //se a verificação retornar verdadeiro
        error_tutor.classList.add("esconda")
        validInput(tutor_nome_input)
        classesValidas1 = true
        classesInvalidas1 = false
    } else {
    //para falso
    errorUpdate(tutor_nome_input, error_tutor)
    //checador de vazio
    vazioUpdate(tutor_nome_input, vazio_tutor, error_tutor)
    }
})

//nome idoso

idoso_nome_input.addEventListener("input", () =>{
    if (verificadorTexto(idoso_nome_input.value)){
        //se a verificação retornar verdadeiro
        error_idoso.classList.add("esconda")
        validInput(idoso_nome_input)
        classesValidas2 = true
        classesInvalidas2 = false
    } else {
    //para falso
    errorUpdate(idoso_nome_input, error_idoso)
    //checador de vazio
    vazioUpdate(idoso_nome_input, vazio_idoso, error_idoso)
    }
})

//email

email_input.addEventListener("input", () =>{
    if (verificadorEmail(email_input.value)){
        //se a verificação retornar verdadeiro
        error_email.classList.add("esconda")
        validInput(email_input)
        classesValidas3 = true
        classesInvalidas3 = false
    } else {
    //para falso
    errorUpdate(email_input, error_email)
    //checador de vazio
    vazioUpdate(email_input, vazio_email, error_email)
    }
})

//telefone

telefone_input.addEventListener("input", () =>{
    if (verificadorTelefone(telefone_input.value)){
        //se a verificação retornar verdadeiro
        error_telefone.classList.add("esconda")
        validInput(telefone_input)
        classesValidas4 = true
        classesInvalidas4 = false
    } else {
    //para falso
    errorUpdate(telefone_input, error_telefone)
    //checador de vazio
    vazioUpdate(telefone_input, vazio_telefone, error_telefone)
    }
})

//senha

senha_input.addEventListener("input", () =>{
    if (verificadorSenha(senha_input.value)){
        //se a verificação retornar verdadeiro
        error_senha.classList.add("esconda")
        validInput( senha_input)
        classesValidas5 = true
        classesInvalidas5 = false
    } else {
    //para falso
    errorUpdate(senha_input, error_senha)
    //checador de vazio
    vazioUpdate(senha_input, vazio_senha, error_senha)
    }
})


//Função para mostrar a senha ao apertar no olho e parar de mostrar se apertar de novo

 function mudar1(){
    if(state){
        document.getElementById("senha").setAttribute("type","password")
        state = false
    } else {
        document.getElementById("senha").setAttribute("type", "text")
        state = true
    }
 }

//Função para mostrar a senha ao apertar no olho e parar de mostrar se apertar de novo

  function mudar2(){
    if(state){
        document.getElementById("verificar-senha").setAttribute("type","password")
        state = false
    } else {
        document.getElementById("verificar-senha").setAttribute("type", "text")
        state = true
    }
 }
        </script>


{% endblock %}