{% extends "base.html" %} {% block title %}Tela Inicial{% endblock %} {% block content
    %}


<a href="./jogos/jogos.html" >
    <img src="./image/jogosSite.jpg" style=' margin-top: 50px;'  >
  </a>
   
 <h1>Jogos</h1>


  <a href="./SOS.html" >
    <img src="./image/sos.png" style=' margin-top: 50px; margin-right: 30px;' >
  </a>
  
<h1>S O S</h1>

<br>


<a href="./videos/videos.html">
  <img src="./image/vidio.jpg" style="margin-top: 50px;margin-bottom: 50px;margin-right: 20px;">
</a>
   
<h1 style="display: block;">vídeos</h1>
  


   <button onclick="window.location.href ='./cadastro_e_login/templates/base.html'"> Fazer logout </button>

  </div>

  <script src="./javascript/script.js"></script>

</div>
    </center>


{% endblock %}
