*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    color:white;
    font-family: "Roboto Mono", monospace;
    }

body{
       background-color:#d1ffea;
    }
    
@-webkit-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    
@-moz-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }

@keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    
    a:-webkit-any-link {
      color:rgb(255, 255, 255);
        cursor: pointer;
        text-decoration: none;
    }

.form{
    padding-top:100px;
    left:50%;
    top:50%;
    border-radius:10px ;
    padding:60px;
    width:min-content;
    display: inline-grid;
    background-color:#ced6ff;
    justify-content: space-around;
    justify-items: center;
    margin-top: 10vw;
  }

button{
    font-family:'Poppings',sans-serif;
    background:linear-gradient(90deg,#0062ff,#0062ff,#0062ff) ;
    width: 40vw;
    height: 40px;
    border:none;
    font-size:1.2em;
    color:rgb(255, 255, 255);
    border-radius:20px;
    outline:none;
    cursor:pointer;
  }

.logo {
    background-color: #00b3b0;
    height: auto;
    padding: 2vw;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
}

.flex {
    display: flex;
}

.flex-space {
    display: flex;
    justify-content: space-between;
}

.container{
    padding: 1em 0;
}

#meu-video1, #meu-video2, #meu-video3{
    width: 100%;
}

.container-rodar{
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

#icon-rodar1, #icon-rodar2, #icon-rodar3{
    display: flex;
    flex-direction: column;
    color: #dddddd;
    text-align: center;
}

.esconda{
    display: none;
}

.container-video1, .container-video2, .container-video3{
    width: 60%;
    /* position: absolute; */
   /* transform: translate(-50%, -50%); */
    left: 50%;
    top: 50%;
    box-shadow: 20px 30px 50px rgba(0, 0, 0, 0.2);
}

.controles{
    /* position: absolute; */
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(35, 34, 39, 0.8);
    transform: translate(0%, -120%);
}

.container-progresso{
    align-items: center;
    padding: 0 0.5em;
}