*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

body{
       background-color:#d1ffea;
  }
    
@-webkit-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
@-moz-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
@keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    
 .form{
  padding-top:100px;
    left:50%;
    top:50%;
    border-radius:10px ;
    padding:60px;
    width:min-content;
    display: inline-grid;
    background-color:#00eeffff;
        justify-content: space-around;
        justify-items: center;
        margin-top: 10vw;
  }
  .logo {
    background-color: #00b3b0;
    height: auto;
    padding: 2vw;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    font-size: 2.4vmin;
    flex-direction: row-reverse;
  } 
  button{
    font-size: 3.44vmin;
    font-family:'Poppings',sans-serif;
    background:linear-gradient(90deg,#0062ff,#0062ff,#0062ff) ;
    height: 5vmin;
    width: 35vmin;
    border:none;
    color:black;
    border-radius:20px;
    outline:none;
    cursor:pointer;
    margin: 5mm;
  }

hr {
  display: none;
  }

img{
  width: 15vw;
  }

  .container{
    width: 90vw;
    max-width: 600px;
    padding:2em 1.5em;
    background-color: #ced6ff;
    margin: 1em auto;
    border-radius: 0.5em;
  }

  h4{
    font-size: 1.5em;
    margin: auto;
  }

  .secao-input{
    margin: 0.5em 0;
  }
  label, .menssagem-erro{
    display: block;
    font-size: 1em;
  }
  label{
    margin-bottom: 0.5em;
    font-weight: 500;
  }
  .menssagem-erro{
    margin-top: 0.2em;
  }
  input{
    display: block;
    outline: none;
    width: 100%;
    padding: 0.5em;
    border-radius: 0.3em;
  }
  input{
    padding: 1em 0.5em;
    border: 1.5px solid white;
  }
  .required-color{
    color: #ff4747;
  }
  .erro{
    border-color: #ff4747;
  }
  .valid{
    border-color: #37a137;
  }
  .esconda{
    display: none;
  }
  @media only screen and (max-width: 450px) {
    .container{
      font-size: 14px;
    }
  }