*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "Poppins", sans-serif;
    }

body{
       background-color:#d1ffea;
    }

    .wrapper {
      box-sizing: border-box;
      width: auto;
      padding: 2.5em 3em;
      background-color: white;
      position: absolute;
      transform: translate(-50%, -43.6%);
      left: 50%;
      top: 50%;
      border-radius: 0.6em;
      box-shadow: 0 0.9em 2.8em rgb(86 66 0 / 20%);
      margin-top: 35vh;
    }

.form {
    /* padding-top: 100px; */
    /* left: 50%; */
    /* top: 50%; */
    border-radius: 10px;
    padding: 4vh;
    /* width: min-content; */
    display: flow-root;
    background-color: #00eeffff;
    justify-content: space-around;
    justify-items: center;
    /* margin-top: 10vw; */
    font-size: 3.44vmin;
}

    #form{
        height: 100%;
        padding: 2vw;
        position: relative;
        border-radius: 10px;
        justify-content: center;
        align-items: baseline;
        background-color: #53bfed;
        align-content: center;
        justify-items: self-end;
        font-size: 3.44vmin;
        transform: translate(0%, 632%);
    }
a:-webkit-any-link {
    color: -webkit-link;
    cursor: default;
    text-decoration: none;
    font-size: 3.44vmin;
}
    button{
        font-size: 3.44vmin;
        font-family:'Poppings',sans-serif;
        background:linear-gradient(90deg,#0062ff,#0062ff,#0062ff) ;
        height: 5vmin;
        width: 35vmin;
        border:none;
        color:black;
        border-radius:20px;
        outline:none;
        cursor:pointer;
      }
  
      .game-container{
        position: relative;
        width: 100%;
        display: grid;
        gap: 0.6em;
      }
      .container-carta{
        position: relative;
        width: 6.25em;
        height: 6.25em;
        cursor: pointer;
      }

    @-webkit-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }

      

  
  @media only screen and (min-width: 268px) {
   
    .form {width: fit-content;}
    #form {width: fit-content;}
  }
  
 img{
height: 10vmin;
width:10vmin;
 }