*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

  body{
     background-color:#d1ffea;
  }
  
  @-webkit-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }

  @-moz-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }

  @keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  
  .form{
    padding-top:100px;
    left:50%;
    top:50%;
    border-radius:10px ;
    padding:60px;
    width:min-content;
    display: inline-grid;
    background-color:#ced6ff;
    justify-content: space-around;
    justify-items: center;
    margin-top: 3vw;
  }
  
  @media screen and(max-width:768) {
    section, aside{
      width:100%;
    }
  }
  
  button{
    font-family:'Poppings',sans-serif;
    background:linear-gradient(90deg,#0062ff,#0062ff,#0062ff) ;
    width: 100%;
    height: 40px;
    border:none;
    font-size:1.2em;
    color:rgb(255, 255, 255);
    border-radius:20px;
    outline:none;
    cursor:pointer;
  }
  
  @media only screen and (min-width: 600px) {
  
    .form {width: 500px;}
    #form {width: 500px;}
  
  }
  
  @media only screen and (min-width: 768px) {
   
    .form {width: 500px;}
    #form {width: 500px;}
  }
  
  p {
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
    font-size:2vw;
  }
  
  h1 {
      color: black;
      text-align: center;
      font-size: 4vw;
      cursor: default;
  }

  h2 {
      display: block;
      font-size: 1.5em;
      margin-block-start: 0.83em;
      margin-block-end: 0.83em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
  }
  
  #form{
      height: 100%;
      padding: 2vw;
      position: relative;
      border-radius: 10px;
      justify-content: center;
      align-items: baseline;
      background-color: #53bfed;
      align-content: center;
      justify-items: self-end;
  }

hr {
  display: none;
}

img{
  width: auto;
}

.board.x .cell:not(.x):not(.circle):hover::after,
.board.x .cell:not(.x):not(.circle):hover::before{
  display:block;
}
.board{
  display: grid;
  width:100%;
  height:100%;
  justify-content:center ;
  align-content:center;
  align-items:center;
  grid-template-columns:repeat(3, auto);
}
.board.x .cell:not(.x):not(.circle):hover::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after{
 display:block;
}

.cell{
  width:100px;
  height:100px;
  border:2px solid white;
  display:flex;
  justify-content:center;
  align-items:center;
  position: relative;
}
.cell.x,
.cell.circle{
  cursor:not-allowed;
}
.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3){
  border-top: none;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7){
  border-left:none;
}
.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9){
  border-bottom:none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9){
  border-right:none;
}

/*X*/
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.x .cell:not(.x):not(.circle):hover::before{
    content:"X";
  font-size:100px;

  position:absolute;
}

.cell.x::before{
  transform:rotate(45 deg);
}
.cell.x::after{
  transform:rotate(-45 deg);
}

/*círculo*/
.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::after{
    content:"O";

  color:white;
  font-size:100px;
  position:absolute;
  border-radius:50%;
}

.cell.x::before{
  transform:rotate(45 deg);
}
.cell.x::after{
  transform:rotate(-45 deg);
}
.winning-message {
  display: none;
  position: fixed;
  padding-top: 100px;
  border-radius: 10px;
  padding: 50px;
  width: min-content;
  background-color: #9cffbf;
  justify-content: inherit;
  justify-items: center;
  margin-top: auto;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.winning-message-buttom{
  font-family:'Poppings',sans-serif;
  background:linear-gradient(90deg,#0062ff,#0062ff,#0062ff) ;
  width: 100%;
  height: 40px;
  border:none;
  font-size:1.2em;
  color:rgb(255, 255, 255);
  border-radius:20px;
  outline:none;
  cursor:pointer;
}

.winning-message-buttom:hover{
  background:linear-gradient(90deg,#0062ff,#0062ff,#0062ff) ;
}

.winning-message-text{
  color:black;
  font-size:5rem;
}

@media screen and(max-width:768) {
  section, aside{
    width:100%;
  }
}


@media only screen and (min-width: 600px) {

  .form {width: 500px;}
  #form {width: 500px;}

}

@media only screen and (min-width: 768px) {
 
  .form {width: 500px;}
  #form {width: 500px;}
}
.show-winning-message {
  top: 3.5vw;
  display: flex;
}