*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    color:white;
    font-family: "Roboto Mono", monospace;
    }

body{
       background-color:#d1ffea;
    }
    
@-webkit-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    
@-moz-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }

@keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    
    a:-webkit-any-link {
      color:rgb(255, 255, 255);
        cursor: pointer;
        text-decoration: none;
    }

h1{
    color: #000000;
}

.form{
    padding-top:100px;
    left:50%;
    top:50%;
    border-radius:10px ;
    padding:60px;
    width:min-content;
    display: inline-grid;
    background-color:#ced6ff;
    justify-content: space-around;
    justify-items: center;
    margin-top: 10vw;
  }

.button{
    font-family:'Poppings',sans-serif;
    background:linear-gradient(90deg,#0062ff,#0062ff,#0062ff) ;
    width: 100%;
    height: 100%;
    border:none;
    font-size:1.2em;
    color:rgb(255, 255, 255);
    border-radius:20px;
    outline:none;
    cursor:pointer;
  }

.logo {
    background-color: #00b3b0;
    height: auto;
    padding: 2vw;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
}

.flex {
    display: flex;
}

.flex-space {
    display: flex;
    justify-content: space-between;
}

.container1,.container2,.container3{
    padding: 1em 0;
}

#meu-video1, #meu-video2, #meu-video3{
    width: 100%;
}

.container-rodar1, .container-rodar2, .container-rodar3{
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

#icon-rodar1, #icon-rodar2, #icon-rodar3{
    display: flex;
    flex-direction: column;
    color: #dddddd;
    text-align: center;
}

.esconda{
    display: none;
}

.container-video1, .container-video2, .container-video3{
    /* width: 60%; */
    /* position: absolute; */
   /* transform: translate(-50%, -50%); */
    left: 50%;
    top: 50%;
    box-shadow: 20px 30px 50px rgba(0, 0, 0, 0.2);
}

.controles1, .controles2, .controles3{
    /* position: absolute; */
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(35, 34, 39, 0.8);
    transform: translate(0%, -103.5%);
}

.container-progresso{
    align-items: center;
    padding: 0 0.5em;
}

.controles-video{
    flex-direction: row;
    align-items: center;
}

#barra-progresso2, #barra-progresso1, #barra-progresso3{
    position: relative;
    width: 75%;
    height: 5px;
    background-color: #000000;
    margin:  1em 0;
    vertical-align: 2px;
    border-radius: 5px;
    cursor: pointer;
}

.tempo-som{
    font-size: 0.8em;
    width: 25%;
    text-align: right;
}

#progresso-atual1, #progresso-atual2, #progresso-atual3{
    position: absolute;
    left: 0;
    display: inline-block;
    height: 5px;
    width: 0;
    background: #2887e3;
    border-radius: 5px;
}

#progresso-atual1::after, #progresso-atual2::after, #progresso-atual3::after{
    content: "";
    position: absolute;
    left:  calc(100% - 1.5px);
    top: -2.5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
}

.playback1, .playback2, .playback3 {
    position: relative;
    display: flex;
    justify-content: left;
    transform: translate(363%, 0%);
}

.controle-btn, #expandir-tela1, #screen-compress1
,#expandir-tela2, #screen-compress2
,#expandir-tela3, #screen-compress3 {
    width: 2.96em;
   /* height: 3em;*/
    outline: none;
    border: none;
    background-color: transparent;
}

#tamanho-tela1, #tamanho-tela2, #tamanho-tela3{
    margin-left: auto;
}

.volume{
    align-items: center;
    margin-left: 0.6em;
}

#alcance-volume1, #alcance-volume2, #alcance-volume3{
    position: relative;
    margin: 0 0.5em;
    cursor: pointer;
    height: 5px;
    -webkit-appearance: none;
    background-color: #000000;
    border-radius: 5px;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    background-color: #2887e3;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

.fa-solid{
    font-size: 1.1em;
}

#velocidade-playback-btn1, #velocidade-playback-btn2, #velocidade-playback-btn3{
    position: relative;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 0.9rem;
    border-radius: 5px;
    padding: 0.3em 0.25em;
    cursor: pointer;
    transform: translate(-10%, -5%);
}

.opcao-playback1, .opcao-playback2, .opcao-playback3{
    position: absolute; 
    bottom: 0;
    background-color: #000000;
    min-width: 5em;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.opcao-playback1 button, .opcao-playback2 button, .opcao-playback3 button{
    color: white;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    width: 100%;
    background-color: transparent;
    padding: 1em;
    text-decoration: none;
    display: block;
}

@media all and (display-mode:fullscreen){
    .container{
        padding: 0;
    }
    .container-video1, .container-video2, .container-video3{
        width: 100%;
        margin: 0;
    }
    .controles1, .controles2, .controles3{
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 2;
    }
    #barra-progresso1, #barra-progresso2, #barra-progresso3{
        width: 80%;
    }
    .tempo-som{
        width: 20%;
        font-size: 1.2em;
    }
    .fa-solid{
        color: white;
    }
}

@media only screen and(max-width: 768px) {
    .container-video1,.container-video2,.container-video3, .controles1, .controles2, .controles3{
        width: 100%;
    }
    span{
        display: inline;
    }
    #barra-progresso1, #barra-progresso2, #barra-progresso3{
        width: 60%;
    }
    .tempo-som{
        width: 40%;
        font-size: 0.9em;
    }
    .fa-solid{
        font-size: 1rem;
    }
    .controle-btn, #expandir-tela1, #screen-compress1
    ,#expandir-tela2, #screen-compress2
    ,#expandir-tela3, #screen-compress3 {
       width: 2em;
       height: 1.5em;
    }
}

@media only screan and (max-width: 768px) and (display-mode:fullscreen){
    .container-video1, .container-video2, .container-video3{
        margin-top: 50%;
    }
}