*{
  margin: 0;
  padding: 0;
  }
  body{
     background-color:#d1ffea;
  }
  
  @-webkit-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  
  a:-webkit-any-link {
    color:rgb(255, 255, 255);
      cursor: pointer;
      text-decoration: none;
  }
  
  .form{
    padding-top:100px;
    left:50%;
    top:50%;
    border-radius:10px ;
    padding:60px;
    width:min-content;
    display: inline-grid;
    background-color:#ced6ff;
    justify-content: space-around;
    justify-items: center;
    margin-top: 10vw;
  }
  
  @media screen and(max-width:768) {
    section, aside{
      width:100%;
    }
  }
  .title{
    font-size:1.8em;
    margin-bottom:10%;
  }
  
  .input input{
    width: 80%;
    border: none;
    outline: none;
    font-family:'Poppings', sans-serif;
    color:#2b344b;
    font-size:11px;
  }
  
  button{
    font-family:'Poppings',sans-serif;
    background:linear-gradient(90deg,#0062ff,#0062ff,#0062ff) ;
    width: 40vw;
    height: 40px;
    border:none;
    font-size:1.2em;
    color:rgb(255, 255, 255);
    border-radius:20px;
    outline:none;
    cursor:pointer;
  }
  
  
  @media only screen and (min-width: 600px) {
  
    .form {width: 500px;}
    #form {width: 500px;}
  
  }
  
  @media only screen and (min-width: 768px) {
   
    .form {width: 500px;}
    #form {width: 500px;}
  }
  
  p {
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
    font-size:2vw;
  }
  
  h1 {
      color: black;
      text-align: center;
      font-size: 4vw;
      cursor: default;
  }
  .alert{
    padding: 5vw;
    border-radius:10px ;
    width:min-content;
    display: table-cell;
    background-color:#4dfe71ff;
    font-size:35px;
  }
  h2 {
      display: block;
      font-size: 1.5em;
      margin-block-start: 0.83em;
      margin-block-end: 0.83em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
  }
  
  
  #lista {
  
    height:100%;
    padding: 2vw;
    position:relative;
    border-radius:10px ;
    justify-content: space-around;
    width:min-content;
    display: table-cell;
    align-items:center;
    background-color: #53bfed;
  }
  
  #conteudo {
    height:100%;
    padding: 2vw;
    position:relative;
    border-radius:10px ;
    justify-content: space-around;
    width:min-content;
    display:block;
    align-items:center;
    background-color: #53bfed;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #c {
    /* height: 100%; */
    padding: 2vw;
    position: relative;
    border-radius: 10px;
    justify-content: center;
    /* align-items: center; */
    background-color: #53bfed;
    align-content: stretch;
    justify-items: self-end;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

  #for {
    padding-top: 100px;
    border-radius: 10px;
    padding: 60px;
    width: min-content;
    display: flex;
    background-color: #ced6ff;
    justify-content: space-evenly;
    justify-items: center;
    margin-top: 10vw;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
  #a, #aa, #aaa{
      background-color: #ff80a6;
      display:block;
    align-items:center;
    margin-bottom: 20px;
  }
  
  h3 {
      display: block;
      font-size: 1.17em;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
  }
  
  #ss, #sss{
     background-color: #00b3b0;
    height:100%;
    padding: 2vw;
    position:relative;
    justify-content: space-around;
    display:block;
    align-items:center;
  }

  input {
    background-color: #cdc9ff;
    height: 100%;
    padding: 2vw;
    position: relative;
    justify-content: space-around;
    display: block;
    align-items: center;
    margin: 2vw;
}

hr {
  display: none;
}
img{
  width: 15vw;
}
#fo{
    /* height: 100%; */
    padding: 2vw;
    position: relative;
    border-radius: 10px;
    justify-content: center;
    /* align-items: center; */
    background-color: #53bfed;
    align-content: stretch;
    justify-items: self-end;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
.i{
  font-size: 3.44vmin;
  transform: translate(0%, 1100%);
  height: 100%;
  padding: 2vw;
  position: relative;
  border-radius: 10px;
  justify-content: center;
  align-items: baseline;
  background-color: #53bfed;
  align-content: center;
  justify-items: self-end;
}